services:
  secure_postgres:
    image: postgres:16
    container_name: secure_movieapp_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: adminrino
      POSTGRES_DB: movie-app-go
    volumes:
      - secure_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - secure_app-network

  secure_redis:
    image: redis:8.0.1
    volumes:
      - secure_redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - secure_app-network

  secure_backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    container_name: secure_movieapp_backend
    depends_on:
      - secure_postgres
      - secure_redis
    volumes:
      - ./back-end/uploads:/app/uploads
    env_file:
      - ./back-end/.env
    restart: unless-stopped
    networks:
      - secure_app-network
      - proxy-net

  secure_frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    container_name: secure_movieapp_frontend
    depends_on:
      - secure_backend
    restart: unless-stopped
    networks:
      - secure_app-network
      - proxy-net

  secure_wordpress-db:
    image: mysql:8.0
    container_name: secure_wordpress_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: ${WP_DB_USER:-wordpress}
      MYSQL_PASSWORD: ${WP_DB_PASSWORD:-wordpress_pass}
      MYSQL_ROOT_PASSWORD: ${WP_DB_ROOT_PASSWORD:-root_pass}
    volumes:
      - secure_wp_db_data:/var/lib/mysql
    networks:
      - secure_app-network

  secure_wordpress:
    image: wordpress:6.3-apache
    container_name: secure_movieapp_wordpress
    restart: unless-stopped
    depends_on:
      - secure_wordpress-db
    environment:
      WORDPRESS_DB_HOST: secure_wordpress-db:3306
      WORDPRESS_DB_USER: ${WP_DB_USER:-wordpress}
      WORDPRESS_DB_PASSWORD: ${WP_DB_PASSWORD:-wordpress_pass}
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./wp_plugins:/var/www/html/wp-content/plugins
    networks:
      - secure_app-network
      - proxy-net

  secure_migrate:
    image: migrate/migrate
    depends_on:
      - secure_postgres
    volumes:
      - ./back-end/database/migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "postgres://postgres:adminrino@secure_postgres:5432/movie-app-go?sslmode=disable",
      "up"
    ]
    networks:
      - secure_app-network

volumes:
  secure_pgdata: {}
  secure_redis-data: {}
  secure_wp_db_data: {}

networks:
  secure_app-network:
    driver: bridge
  
  proxy-net:
    external: true
